
body {
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f5f3e7;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


header {
  color:  rgb(200, 0, 0);
  padding: 40px;
  grid-template-columns: 612px 300px;
}

.image-container{
  position:relative
}

.ligne-horizontale {
  border: none;
  margin: 0; 
  height: 3px;
  background-color: rgb(200, 0, 0);
}

.ligne-verticale {
  position: absolute;
  top:0px;
  left: 612px;
  width: 3px;
  height: calc(200vh - 3px);
  background-color: rgb(200, 0, 0);
}

.titre {
  display: flex;                
  justify-content: space-between; 
  align-items: center;         
}


.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: light;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: light;
}

h1 {
 font-size: 50px;
 color: rgb(200, 0, 0);
 font-weight: light;
 margin: 0;
 letter-spacing: 2px;
}

.presentation {
  width: 612px;
}

p{
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color:  rgb(200, 0, 0);
  font-weight: normal;
  text-align: justify;
}

.informations {
  position:relative;
  width: 612px;
  padding-left: 20px;
  padding-right: 20px; 
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color:  rgb(200, 0, 0); 
  text-align: justify;
}

.titre-section {
  position:relative;
  width: 612px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color:  rgb(200, 0, 0); 
  text-align: justify;
  font-weight: bold;
}