
body {
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f5f3e7;
  line-height: 1.5;
}

img{
  width: 100%;
  display: block;
  height: auto;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


header {
  color:  rgb(200, 0, 0);
  padding: 40px;
  grid-template-columns: 612px 300px;
}



.ligne-horizontale {
  border: none;
  margin: 0; 
  height: 3px;
  background-color: rgb(200, 0, 0);
}



.titre {
  display: flex;                
  justify-content: space-between; 
  align-items: center;         
}


.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: light;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: light;
}

h1 {
 font-size: 50px;
 color: rgb(200, 0, 0);
 font-weight: light;
 margin: 0;
 letter-spacing: 2px;
}

.presentation {
  /* width: 612px; */
}

p{
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color:  rgb(200, 0, 0);
  font-weight: normal;
  /* text-align: justify; */
}

.informations {
  padding-left: 20px;
  padding-right: 20px; 
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color:  rgb(200, 0, 0); 
  /* text-align: justify; */
}

.titre-section {
  position:relative;
  width: 612px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color:  rgb(200, 0, 0); 
  text-align: justify;
  font-weight: bold;
}


.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left{
  border-right: 3px solid rgb(200, 0, 0);
}

header,hr{
  grid-column: 1/-1;
}

